<H1>Listado de equipos</H1>
<div class="container">
<table>
  <tr>
    <th>Nombre</th>
    <th>Liga</th>
    <th>Campeonatos</th>
    <th>Puntos</th>
    <th>Escudo</th>
    <th>Actualizar</th>
  </tr>  
  
  <tr *ngFor="let team of teams"
      [class.selected]="team === selectedTeam">
      <td>{{team.nombre}}</td>
      <td>{{team.liga}}</td>
      <td>{{team.campeonatos}}</td>
      <td>{{team.puntos}}</td> 
      <td><img src="{{team.escudo}}" alt="logo" height="50" width="50"></td> 
      <td><img src=".\assets\images\edit2.png" alt="logo" height="20" width="20" (click)="openForm(team)">
      <img src=".\assets\images\delete.png" alt="logo" height="20" width="20" (click)="delete(team)"></td>
  </tr>
</table>
</div>



<div *ngIf="selectedTeam" class="form-popup" id="myForm">
  <form class="form-container">
    <h1>Editar {{selectedTeam.nombre}}</h1>

    <label for="nombre"><b>Nombre</b></label>
    <input type="text" [(ngModel)]="selectedTeam.nombre" name="nombre" required>

    <label for="liga"><b>Liga</b></label>
    <input type="text" placeholder="{{selectedTeam.liga}}" name="liga" required>

    <label for="campeonatos"><b>Campeonatos</b></label>
    <input type="number" min="0" placeholder="{{selectedTeam.campeonatos}}" name="campeonatos" required>
    <p><p>
    <label for="puntos"><b>Puntos</b></label>
    <br>
    <input type="number" min="0" placeholder="{{selectedTeam.puntos}}" name="puntos" required>
    <p>
    <label for="imagen"><b>Escudo</b></label>
    <input type="file" name="imagen" accept="image/png">
    <p>    
    <button type="submit" class="btn" (click)="save()">Guardar</button>
    <button type="button" class="btn cancel" (click)="closeForm()">Cancelar</button>
  </form>
</div>